.logo {
  background-color: blue;
  width: 100px;
  height: 100px;
}

header {
  background-color: green;
}

header > nav {
  display: flex;
  justify-content: space-between;
}

.nav-buttons > a {
  border: 2px;
  padding: 2px 10px 2px 10px;
  margin: 2px 10px 2px 10px;
  background-color: yellow;
  text-decoration: none;
}

#hero {
  background-image: url('../img/hero-background.jpeg');
  background-size: cover;
  min-height: 1000px;
  display: flex;
}

.hero-link {
  border: 2px;
  padding: 2px 10px 2px 10px;
  margin: 2px 10px;
  background-color: red;
}

#hero-center {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: auto;
}

footer {
  display: flex;
  justify-content: center;
}
